# Redis Variables
REDIS_PORT=6379
REDIS_CONNECTION_STRING=redis:6379,abortConnect=false

# Future variables:
# ELASTICSEARCH_URL=http://elasticsearch:9200
# RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
# KONG_ADMIN_URL=http://kong:8001
# KEYCLOAK_URL=http://keycloak:8080